@import "variables.css";

body {
  color: var(--gray_);
}

a {
  text-decoration: none;
}

.form-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: white;
  padding: 30px;
  width: 400px;
  //height: 900px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .09);
}

.auth {
  &-title {
    color: #303344;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    margin-top: 21px;
    padding: 0;
    letter-spacing: .01em;
    position: relative;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;

    &__wrap {
      position: relative;
      padding-bottom: 23px;
      margin-bottom: 21px;
      display: block;

      &:hover .auth-title {
        color: var(--primary_dark);

      }

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 160px;
        height: 1px;
        background-color: #e2e7ea;
      }
    }

  }

  &-description {
    color: var(--link_color);
  }
}