<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/auth.css">
    <link rel="stylesheet" href="/libs/fontawesome/fontawesome.css">
    <title>Форум - {% block action %}{% endblock %}</title>
</head>
<body>

<section class="form-wrap">
    <div class="actionLoad hide">
        <div class="actionLoad-icon">
            <i class="fa fa-spinner-third"></i>
        </div>
        <div class="actionLoad-message">
            <span>Идет обработка данных, подождите</span>
        </div>
    </div>
    <a href="/" class="auth-title__wrap">
        <div style="position: relative;width:100%;height: 100%;padding: 5px;display: flex;justify-content: center;align-items: center;">
            <div style="transform: scale(1) translateX(0px) translateY(0px);transform-origin: center center;">
                <div style="display: flex; flex-direction: column; position: relative;">
                    <div class="" role="icon" logo-role="icon"
                         style="width: auto;margin-bottom: 26px;align-self: center;size: 150px;left: 0px;top: 0px;position: relative;z-index: 10;">
                        <svg width="150" viewBox="0 0 160.10000610351562 139">
                            <g>
                                <svg viewBox="20 30.5 160.10000610351562 139" height="139"
                                     width="160.10000610351562" xmlns="http://www.w3.org/2000/svg"
                                     data-type="color">
                                    <g>
                                        <path d="M120 100l-20.1 34.7-20.1-35L99.9 65l20.1 35z"
                                              data-color="1"
                                              fill="#b0deff"></path>
                                        <path d="M120 99.9l20.1 34.9 40-.1L160 99.8l-40 .1z"
                                              data-color="2"
                                              fill="#66bfff"></path>
                                        <path d="M180 65.4l-20.1-34.9-40 .1L140 65.5l40-.1z"
                                              data-color="2"
                                              fill="#66bfff"></path>
                                        <path d="M100.1 64.9l-40 .1 20.1 35 40-.1-20.1-35z"
                                              data-color="2"
                                              fill="#66bfff"></path>
                                        <path d="M140 65.5l-20-34.9-20.1 34.7 20 34.8-20 34.5 20.1 34.9 20.1-34.7-20-34.8c-.1.1 19.9-34.5 19.9-34.5z"
                                              data-color="1" fill="#b0deff"></path>
                                        <path d="M40.2 99.6l-.1-.1L20 134.2l20.1 34.9 20-34.6.1.1 20-34.6-20-35-20 34.6z"
                                              data-color="1" fill="#b0deff"></path>
                                        <path d="M120 169.5l40-.1 20.1-34.7-40 .1-20.1 34.7z"
                                              data-color="3"
                                              fill="#4d6d8a"></path>
                                        <path d="M139.8 134.5l19.9-34.4h.2L180 65.4l-40 .1-19.9 34.3-39.9.2-19.9 34.4h-.2L40 169.1l40-.1 19.9-34.3 39.9-.2z"
                                              data-color="3" fill="#4d6d8a"></path>
                                    </g>
                                </svg>
                            </g>
                        </svg>
                    </div>
                    <div class="" role="text" type="textSvgPath" logo-role="companyName"
                         style="align-self: center; position: relative; left: 0px; top: 0px; z-index: 50;">
                        <div class="textHover"
                             style="position: absolute; width: 100%; height: 100%; transform: rotate(0deg);"></div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 width="159.77000427246094"
                                 viewBox="0.6700000166893005 5.880000114440918 159.77000427246094 35.279998779296875"
                                 overflow="visible" style="overflow: visible;">
                                <path stroke="none" fill="#66bfff"
                                      d="M15.04 40.74L15.04 39.06L15.04 39.06Q16.38 39.06 16.93 38.95L16.93 38.95L16.93 38.95Q17.47 38.85 17.47 38.51L17.47 38.51L17.47 38.51Q17.47 38.26 16.91 37.27L16.91 37.27L16.91 37.27Q16.34 36.29 15.46 34.99L15.46 34.99L12.26 30.20L10.16 32.21L10.16 33.85L10.16 33.85Q10.16 35.49 10.29 36.50L10.29 36.50L10.29 36.50Q10.42 37.51 10.73 38.07L10.73 38.07L10.73 38.07Q11.05 38.64 11.61 38.85L11.61 38.85L11.61 38.85Q12.18 39.06 13.06 39.06L13.06 39.06L13.06 40.74L0.67 40.74L0.67 39.06L0.67 39.06Q1.85 39.02 2.56 38.81L2.56 38.81L2.56 38.81Q3.28 38.60 3.70 38.07L3.70 38.07L3.70 38.07Q4.12 37.55 4.26 36.60L4.26 36.60L4.26 36.60Q4.41 35.66 4.41 34.15L4.41 34.15L4.41 16.34L4.41 16.34Q4.41 13.78 4.33 12.31L4.33 12.31L4.33 12.31Q4.24 10.84 3.89 10.10L3.89 10.10L3.89 10.10Q3.53 9.37 2.79 9.20L2.79 9.20L2.79 9.20Q2.06 9.03 0.80 9.03L0.80 9.03L0.80 7.48L10.16 5.88L10.16 29.23L14.20 25.41L14.20 25.41Q16.38 23.35 17.30 22.32L17.30 22.32L17.30 22.32Q18.23 21.29 18.23 20.83L18.23 20.83L18.23 20.83Q18.23 20.45 17.45 20.31L17.45 20.31L17.45 20.31Q16.67 20.16 14.57 20.16L14.57 20.16L14.57 18.48L26.04 18.48L26.04 20.16L26.04 20.16Q24.44 20.16 23.23 20.71L23.23 20.71L23.23 20.71Q22.01 21.25 20.58 22.60L20.58 22.60L16.51 26.42L23.77 36.71L23.77 36.71Q24.74 38.05 25.66 38.56L25.66 38.56L25.66 38.56Q26.59 39.06 28.10 39.06L28.10 39.06L28.10 40.74L15.04 40.74ZM30.79 40.74L30.16 30.03L31.79 30.03L31.79 30.03Q32.38 34.02 34.99 36.31L34.99 36.31L34.99 36.31Q37.59 38.60 41.41 38.60L41.41 38.60L41.41 38.60Q42.97 38.60 44.27 38.22L44.27 38.22L44.27 38.22Q45.57 37.84 46.49 37.15L46.49 37.15L46.49 37.15Q47.42 36.46 47.92 35.51L47.92 35.51L47.92 35.51Q48.43 34.57 48.43 33.39L48.43 33.39L48.43 33.39Q48.43 32.38 48.11 31.65L48.11 31.65L48.11 31.65Q47.80 30.91 46.91 30.22L46.91 30.22L46.91 30.22Q46.03 29.53 44.50 28.81L44.50 28.81L44.50 28.81Q42.97 28.10 40.53 27.17L40.53 27.17L40.53 27.17Q35.62 25.28 33.26 22.79L33.26 22.79L33.26 22.79Q30.91 20.29 30.91 16.88L30.91 16.88L30.91 16.88Q30.91 14.91 31.67 13.27L31.67 13.27L31.67 13.27Q32.42 11.63 33.79 10.46L33.79 10.46L33.79 10.46Q35.15 9.28 37.07 8.63L37.07 8.63L37.07 8.63Q38.98 7.98 41.29 7.98L41.29 7.98L41.29 7.98Q43.43 7.98 45.32 8.65L45.32 8.65L45.32 8.65Q47.21 9.32 49.06 10.67L49.06 10.67L49.81 8.57L50.82 8.57L51.28 17.64L49.64 17.64L49.64 17.64Q48.64 14.20 46.49 12.37L46.49 12.37L46.49 12.37Q44.35 10.54 41.54 10.54L41.54 10.54L41.54 10.54Q38.93 10.54 37.32 11.82L37.32 11.82L37.32 11.82Q35.70 13.10 35.70 15.12L35.70 15.12L35.70 15.12Q35.70 16.00 35.99 16.70L35.99 16.70L35.99 16.70Q36.29 17.39 37.09 18.02L37.09 18.02L37.09 18.02Q37.88 18.65 39.27 19.30L39.27 19.30L39.27 19.30Q40.66 19.95 42.84 20.75L42.84 20.75L42.84 20.75Q45.78 21.88 47.86 23.04L47.86 23.04L47.86 23.04Q49.94 24.19 51.26 25.52L51.26 25.52L51.26 25.52Q52.58 26.84 53.21 28.31L53.21 28.31L53.21 28.31Q53.84 29.78 53.84 31.54L53.84 31.54L53.84 31.54Q53.84 33.68 52.92 35.45L52.92 35.45L52.92 35.45Q52.00 37.21 50.34 38.47L50.34 38.47L50.34 38.47Q48.68 39.73 46.39 40.45L46.39 40.45L46.39 40.45Q44.10 41.16 41.33 41.16L41.33 41.16L41.33 41.16Q38.81 41.16 36.79 40.47L36.79 40.47L36.79 40.47Q34.78 39.77 32.63 38.22L32.63 38.22L31.79 40.74L30.79 40.74ZM69.51 18.06L69.51 18.06L69.51 18.06Q72.03 18.06 74.28 18.92L74.28 18.92L74.28 18.92Q76.52 19.78 78.22 21.29L78.22 21.29L78.22 21.29Q79.93 22.81 80.91 24.89L80.91 24.89L80.91 24.89Q81.90 26.96 81.90 29.44L81.90 29.44L81.90 29.44Q81.90 32.00 80.91 34.15L80.91 34.15L80.91 34.15Q79.93 36.29 78.22 37.84L78.22 37.84L78.22 37.84Q76.52 39.40 74.28 40.28L74.28 40.28L74.28 40.28Q72.03 41.16 69.51 41.16L69.51 41.16L69.51 41.16Q67.03 41.16 64.81 40.30L64.81 40.30L64.81 40.30Q62.58 39.44 60.90 37.88L60.90 37.88L60.90 37.88Q59.22 36.33 58.25 34.17L58.25 34.17L58.25 34.17Q57.29 32.00 57.29 29.44L57.29 29.44L57.29 29.44Q57.29 26.96 58.25 24.86L58.25 24.86L58.25 24.86Q59.22 22.76 60.90 21.25L60.90 21.25L60.90 21.25Q62.58 19.74 64.81 18.90L64.81 18.90L64.81 18.90Q67.03 18.06 69.51 18.06ZM69.51 20.50L69.51 20.50L69.51 20.50Q68.25 20.50 67.20 21.15L67.20 21.15L67.20 21.15Q66.15 21.80 65.42 22.97L65.42 22.97L65.42 22.97Q64.68 24.15 64.28 25.81L64.28 25.81L64.28 25.81Q63.88 27.47 63.88 29.48L63.88 29.48L63.88 29.48Q63.88 31.58 64.28 33.26L64.28 33.26L64.28 33.26Q64.68 34.94 65.42 36.12L65.42 36.12L65.42 36.12Q66.15 37.30 67.18 37.95L67.18 37.95L67.18 37.95Q68.21 38.60 69.51 38.60L69.51 38.60L69.51 38.60Q70.81 38.60 71.88 37.95L71.88 37.95L71.88 37.95Q72.95 37.30 73.71 36.10L73.71 36.10L73.71 36.10Q74.47 34.90 74.89 33.22L74.89 33.22L74.89 33.22Q75.31 31.54 75.31 29.48L75.31 29.48L75.31 29.48Q75.31 27.47 74.89 25.83L74.89 25.83L74.89 25.83Q74.47 24.19 73.71 23.00L73.71 23.00L73.71 23.00Q72.95 21.80 71.88 21.15L71.88 21.15L71.88 21.15Q70.81 20.50 69.51 20.50ZM104.54 35.66L105.63 37.25L105.63 37.25Q104.03 39.02 101.66 39.98L101.66 39.98L101.66 39.98Q99.29 40.95 96.52 40.95L96.52 40.95L96.52 40.95Q93.95 40.95 91.85 40.13L91.85 40.13L91.85 40.13Q89.75 39.31 88.24 37.84L88.24 37.84L88.24 37.84Q86.73 36.37 85.91 34.29L85.91 34.29L85.91 34.29Q85.09 32.21 85.09 29.69L85.09 29.69L85.09 29.69Q85.09 27.09 85.97 24.95L85.97 24.95L85.97 24.95Q86.86 22.81 88.45 21.27L88.45 21.27L88.45 21.27Q90.05 19.74 92.27 18.90L92.27 18.90L92.27 18.90Q94.50 18.06 97.19 18.06L97.19 18.06L97.19 18.06Q99.08 18.06 100.70 18.44L100.70 18.44L100.70 18.44Q102.31 18.82 103.47 19.49L103.47 19.49L103.47 19.49Q104.62 20.16 105.29 21.06L105.29 21.06L105.29 21.06Q105.97 21.97 105.97 23.02L105.97 23.02L105.97 23.02Q105.97 24.23 105.27 24.95L105.27 24.95L105.27 24.95Q104.58 25.66 103.40 25.66L103.40 25.66L103.40 25.66Q102.44 25.66 101.70 25.16L101.70 25.16L101.70 25.16Q100.97 24.65 100.25 23.52L100.25 23.52L100.25 23.52Q99.62 22.51 99.18 21.92L99.18 21.92L99.18 21.92Q98.74 21.34 98.36 21.02L98.36 21.02L98.36 21.02Q97.99 20.71 97.61 20.60L97.61 20.60L97.61 20.60Q97.23 20.50 96.68 20.50L96.68 20.50L96.68 20.50Q94.25 20.50 92.90 22.76L92.90 22.76L92.90 22.76Q91.56 25.03 91.56 29.11L91.56 29.11L91.56 29.11Q91.56 33.47 93.18 35.83L93.18 35.83L93.18 35.83Q94.79 38.18 97.82 38.18L97.82 38.18L97.82 38.18Q99.54 38.18 101.26 37.53L101.26 37.53L101.26 37.53Q102.98 36.88 104.54 35.66L104.54 35.66ZM117.94 18.06L117.94 33.85L117.94 33.85Q117.94 35.53 118.06 36.54L118.06 36.54L118.06 36.54Q118.19 37.55 118.57 38.09L118.57 38.09L118.57 38.09Q118.94 38.64 119.66 38.83L119.66 38.83L119.66 38.83Q120.37 39.02 121.59 39.06L121.59 39.06L121.59 40.74L108.36 40.74L108.36 39.06L108.36 39.06Q109.54 39.02 110.27 38.79L110.27 38.79L110.27 38.79Q111.01 38.56 111.41 38.03L111.41 38.03L111.41 38.03Q111.80 37.51 111.95 36.56L111.95 36.56L111.95 36.56Q112.10 35.62 112.10 34.15L112.10 34.15L112.10 28.98L112.10 28.98Q112.10 26.54 112.01 24.97L112.01 24.97L112.01 24.97Q111.93 23.39 111.80 22.81L111.80 22.81L111.80 22.81Q111.59 21.76 110.86 21.42L110.86 21.42L110.86 21.42Q110.12 21.08 108.19 21.08L108.19 21.08L108.19 19.66L117.94 18.06ZM111.76 9.16L111.76 9.16L111.76 9.16Q111.76 7.77 112.71 6.83L112.71 6.83L112.71 6.83Q113.65 5.88 115.00 5.88L115.00 5.88L115.00 5.88Q116.38 5.88 117.33 6.83L117.33 6.83L117.33 6.83Q118.27 7.77 118.27 9.16L118.27 9.16L118.27 9.16Q118.27 10.50 117.33 11.45L117.33 11.45L117.33 11.45Q116.38 12.39 115.00 12.39L115.00 12.39L115.00 12.39Q113.65 12.39 112.71 11.45L112.71 11.45L112.71 11.45Q111.76 10.50 111.76 9.16ZM136.75 32.76L136.75 28.77L136.75 28.77Q133.22 30.37 131.44 31.73L131.44 31.73L131.44 31.73Q129.65 33.10 129.65 34.57L129.65 34.57L129.65 34.57Q129.65 35.78 130.33 36.50L130.33 36.50L130.33 36.50Q131.00 37.21 132.01 37.21L132.01 37.21L132.01 37.21Q133.01 37.21 133.90 36.86L133.90 36.86L133.90 36.86Q134.78 36.50 135.41 35.91L135.41 35.91L135.41 35.91Q136.04 35.32 136.40 34.50L136.40 34.50L136.40 34.50Q136.75 33.68 136.75 32.76L136.75 32.76ZM130.83 29.11L136.75 26.54L136.75 24.78L136.75 24.78Q136.75 22.34 135.89 21.23L135.89 21.23L135.89 21.23Q135.03 20.12 133.22 20.12L133.22 20.12L133.22 20.12Q132.01 20.12 131.38 20.77L131.38 20.77L131.38 20.77Q130.75 21.42 130.20 22.93L130.20 22.93L130.20 22.93Q129.82 23.98 129.13 24.57L129.13 24.57L129.13 24.57Q128.44 25.16 127.22 25.16L127.22 25.16L127.22 25.16Q126.04 25.16 125.41 24.44L125.41 24.44L125.41 24.44Q124.78 23.73 124.78 22.43L124.78 22.43L124.78 22.43Q124.78 20.41 126.99 19.24L126.99 19.24L126.99 19.24Q129.19 18.06 133.64 18.06L133.64 18.06L133.64 18.06Q138.35 18.06 140.36 19.76L140.36 19.76L140.36 19.76Q142.38 21.46 142.38 25.45L142.38 25.45L142.38 34.65L142.38 34.65Q142.38 38.22 143.81 38.22L143.81 38.22L143.81 38.22Q144.61 38.22 145.28 37.67L145.28 37.67L145.91 38.89L145.91 38.89Q145.32 39.94 144.08 40.55L144.08 40.55L144.08 40.55Q142.84 41.16 141.29 41.16L141.29 41.16L141.29 41.16Q139.36 41.16 138.35 39.98L138.35 39.98L138.35 39.98Q137.34 38.81 137.34 36.67L137.34 36.67L137.13 36.67L137.13 36.67Q135.91 38.85 133.98 39.98L133.98 39.98L133.98 39.98Q132.05 41.12 129.57 41.12L129.57 41.12L129.57 41.12Q126.92 41.12 125.33 39.63L125.33 39.63L125.33 39.63Q123.73 38.14 123.73 35.74L123.73 35.74L123.73 35.74Q123.73 33.89 125.37 32.28L125.37 32.28L125.37 32.28Q127.01 30.66 130.83 29.11L130.83 29.11ZM156.79 5.88L156.79 33.85L156.79 33.85Q156.79 35.53 156.91 36.54L156.91 36.54L156.91 36.54Q157.04 37.55 157.42 38.09L157.42 38.09L157.42 38.09Q157.79 38.64 158.51 38.83L158.51 38.83L158.51 38.83Q159.22 39.02 160.44 39.06L160.44 39.06L160.44 40.74L147.21 40.74L147.21 39.06L147.21 39.06Q148.39 39.02 149.12 38.79L149.12 38.79L149.12 38.79Q149.86 38.56 150.25 38.03L150.25 38.03L150.25 38.03Q150.65 37.51 150.80 36.56L150.80 36.56L150.80 36.56Q150.95 35.62 150.95 34.15L150.95 34.15L150.95 16.80L150.95 16.80Q150.95 14.36 150.86 12.79L150.86 12.79L150.86 12.79Q150.78 11.21 150.65 10.63L150.65 10.63L150.65 10.63Q150.44 9.58 149.71 9.24L149.71 9.24L149.71 9.24Q148.97 8.90 147.04 8.90L147.04 8.90L147.04 7.48L156.79 5.88Z"
                                      transform="rotate(0 80.55500215291977 23.519999504089355)"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="" role="text" type="textSvgPath" logo-role="tagline"
                         style="margin: 16px 0px 0px; align-self: center; display: block; position: relative; left: 3px; top: 0px; z-index: 50;">
                        <div class="textHover"
                             style="position: absolute; width: 100%; height: 100%; transform: rotate(0deg);"></div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 width="112.06999969482422"
                                 viewBox="1.9000000953674316 4.179999828338623 112.06999969482422 11.930000305175781"
                                 overflow="visible" style="overflow: visible;">
                                <path stroke="none" fill="#66bfff"
                                      d="M8.64 4.18L8.61 11.25L8.62 14.40L7.81 14.40L7.82 11.30L7.81 4.86L2.74 4.86L2.70 11.25L2.72 14.40L1.90 14.40L1.94 11.30L1.90 4.18L8.64 4.18ZM16.78 6.40L16.78 6.40Q18.48 6.40 19.39 7.42L19.39 7.42L19.39 7.42Q20.30 8.43 20.30 10.29L20.30 10.29L20.30 10.29Q20.30 12.30 19.34 13.39L19.34 13.39L19.34 13.39Q18.37 14.48 16.59 14.48L16.59 14.48L16.59 14.48Q14.90 14.48 13.98 13.44L13.98 13.44L13.98 13.44Q13.06 12.40 13.06 10.50L13.06 10.50L13.06 10.50Q13.06 8.53 14.02 7.46L14.02 7.46L14.02 7.46Q14.99 6.40 16.78 6.40L16.78 6.40ZM16.72 7.09L16.72 7.09Q13.87 7.09 13.87 10.40L13.87 10.40L13.87 10.40Q13.87 13.81 16.62 13.81L16.62 13.81L16.62 13.81Q18.03 13.81 18.77 12.96L18.77 12.96L18.77 12.96Q19.50 12.11 19.50 10.42L19.50 10.42L19.50 10.42Q19.50 7.09 16.72 7.09L16.72 7.09ZM27.78 6.40L27.78 6.40Q29.47 6.40 30.38 7.42L30.38 7.42L30.38 7.42Q31.30 8.43 31.30 10.29L31.30 10.29L31.30 10.29Q31.30 12.30 30.33 13.39L30.33 13.39L30.33 13.39Q29.36 14.48 27.58 14.48L27.58 14.48L27.58 14.48Q25.89 14.48 24.97 13.44L24.97 13.44L24.97 13.44Q24.05 12.40 24.05 10.50L24.05 10.50L24.05 10.50Q24.05 8.53 25.02 7.46L25.02 7.46L25.02 7.46Q25.98 6.40 27.78 6.40L27.78 6.40ZM27.71 7.09L27.71 7.09Q24.86 7.09 24.86 10.40L24.86 10.40L24.86 10.40Q24.86 13.81 27.62 13.81L27.62 13.81L27.62 13.81Q29.02 13.81 29.76 12.96L29.76 12.96L29.76 12.96Q30.50 12.11 30.50 10.42L30.50 10.42L30.50 10.42Q30.50 7.09 27.71 7.09L27.71 7.09ZM38.61 9.87L38.61 9.87Q39.84 9.87 40.49 10.41L40.49 10.41L40.49 10.41Q41.14 10.94 41.14 11.95L41.14 11.95L41.14 11.95Q41.14 13.12 40.27 13.76L40.27 13.76L40.27 13.76Q39.41 14.40 37.82 14.40L37.82 14.40L35.95 14.40L35.98 12L35.95 6.46L40.77 6.46L40.82 6.56L40.75 7.15L36.77 7.14L36.74 9.87L38.61 9.87ZM38.26 13.79L38.26 13.79Q39.26 13.71 39.78 13.26L39.78 13.26L39.78 13.26Q40.29 12.82 40.29 12.05L40.29 12.05L40.29 12.05Q40.29 11.28 39.80 10.88L39.80 10.88L39.80 10.88Q39.31 10.48 38.37 10.48L38.37 10.48L36.74 10.50L36.72 11.94L36.74 13.76L38.26 13.79ZM56.00 13.74L56.00 16.03L55.39 16.11L55.30 14.40L45.81 14.40L45.84 12L45.81 6.46L46.62 6.46L46.58 11.94L46.59 13.71L50.02 13.71L50.03 12L50.00 6.46L50.82 6.46L50.78 11.94L50.80 13.71L54.21 13.71L54.22 12L54.19 6.46L55.01 6.46L54.98 11.94L54.99 13.74L56.00 13.74ZM63.12 6.48L66.03 14.40L65.22 14.40L65.04 13.68L64.45 12.10L60.67 12.10L60.05 13.65L59.84 14.40L59.04 14.40L62.22 6.48L63.12 6.48ZM62.54 11.46L64.21 11.44L62.69 7.33L62.61 7.33L60.94 11.44L62.54 11.46ZM74.56 13.71L74.64 13.79L74.54 14.40L70.03 14.40L70.06 12L70.03 6.48L74.54 6.48L74.61 6.58L74.53 7.18L72.56 7.14L70.83 7.14L70.82 9.98L72.45 10L73.86 9.97L73.90 10.06L73.84 10.69L72.38 10.66L70.80 10.67L70.80 11.94L70.82 13.74L72.45 13.74L74.56 13.71ZM86.53 6.48L87.38 14.40L86.66 14.40L86.43 11.98L85.94 7.79L85.86 7.79L83.34 13.46L82.67 13.46L80.26 7.79L80.16 7.79L79.68 11.92L79.44 14.40L78.74 14.40L79.63 6.48L80.56 6.48L81.01 7.70L83.01 12.40L83.07 12.40L85.18 7.60L85.63 6.48L86.53 6.48ZM95.15 6.42L95.15 6.42Q96.46 6.42 97.46 7.04L97.46 7.04L97.30 7.76L97.17 7.79L97.17 7.79Q96.75 7.46 96.22 7.27L96.22 7.27L96.22 7.27Q95.68 7.09 95.09 7.09L95.09 7.09L95.09 7.09Q93.73 7.09 93.02 7.94L93.02 7.94L93.02 7.94Q92.30 8.78 92.30 10.43L92.30 10.43L92.30 10.43Q92.30 12.08 93 12.94L93 12.94L93 12.94Q93.70 13.81 95.01 13.81L95.01 13.81L95.01 13.81Q95.60 13.81 96.20 13.60L96.20 13.60L96.20 13.60Q96.80 13.39 97.30 13.02L97.30 13.02L97.41 13.07L97.34 13.79L97.34 13.79Q96.24 14.48 94.99 14.48L94.99 14.48L94.99 14.48Q93.30 14.48 92.38 13.44L92.38 13.44L92.38 13.44Q91.47 12.40 91.47 10.48L91.47 10.48L91.47 10.48Q91.47 8.53 92.43 7.47L92.43 7.47L92.43 7.47Q93.39 6.42 95.15 6.42L95.15 6.42ZM106.19 6.46L106.16 12L106.19 14.40L105.38 14.40L105.39 11.94L105.39 11.38L103.78 11.38L103.78 11.38Q102.82 12.98 101.70 14.45L101.70 14.45L101.58 14.50L101.58 14.50Q101.12 14.45 100.85 14.30L100.85 14.30L100.85 14.21L100.85 14.21Q102.24 12.54 103.12 11.22L103.12 11.22L103.12 11.22Q102.24 10.91 101.78 10.32L101.78 10.32L101.78 10.32Q101.31 9.73 101.31 8.90L101.31 8.90L101.31 8.90Q101.31 7.79 102.06 7.12L102.06 7.12L102.06 7.12Q102.82 6.45 104.05 6.45L104.05 6.45L106.19 6.46ZM103.76 10.70L105.39 10.67L105.36 7.14L104.03 7.10L104.03 7.10Q103.17 7.12 102.66 7.59L102.66 7.59L102.66 7.59Q102.16 8.06 102.16 8.88L102.16 8.88L102.16 8.88Q102.16 10.38 103.76 10.70L103.76 10.70ZM110.64 6.35L110.64 6.35Q112.26 6.46 113.11 7L113.11 7L113.11 7Q113.97 7.54 113.97 8.43L113.97 8.43L113.97 8.43Q113.97 8.94 113.68 9.39L113.68 9.39L113.68 9.39Q113.39 9.84 112.85 10.16L112.85 10.16L111.63 10.91L111.62 10.96L111.66 12.06L111.12 12.13L111.06 12.03L110.96 10.78L111.02 10.64L112.32 9.82L112.32 9.82Q113.23 9.28 113.23 8.51L113.23 8.51L113.23 8.51Q113.23 7.84 112.52 7.43L112.52 7.43L112.52 7.43Q111.81 7.02 110.43 6.96L110.43 6.96L110.37 6.88L110.54 6.42L110.64 6.35ZM111.41 13.49L111.41 13.49Q111.62 13.49 111.75 13.62L111.75 13.62L111.75 13.62Q111.89 13.76 111.89 13.98L111.89 13.98L111.89 13.98Q111.89 14.21 111.75 14.34L111.75 14.34L111.75 14.34Q111.62 14.48 111.38 14.48L111.38 14.48L111.38 14.48Q111.15 14.48 111.03 14.35L111.03 14.35L111.03 14.35Q110.91 14.22 110.91 14L110.91 14L110.91 14Q110.91 13.78 111.05 13.63L111.05 13.63L111.05 13.63Q111.18 13.49 111.41 13.49L111.41 13.49Z"
                                      transform="rotate(0 57.93499994277954 10.144999980926514)"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="auth-title">
            <span>Добро пожаловать на форум kSocial</span>
        </div>
        <div class="auth-description">
            {% if action == "login" %}
                <span>Войдите, чтобы продолжить увлекательное общение.</span>
            {% else %}
                <span>Присоединяйтесь к нам, чтобы начать увлекательное общение.</span>
            {% endif %}
        </div>
    </a>
    <form>
        <div class="siteMessage hide">
            <p>clear</p>
        </div>

        <input type="text" hidden readonly name="formAction" value="{{ action }}">
        {% if action == "login" %}
            <div class="form-group">
                <label class="form-auth" for="userLogin">Ваш логин</label>
                <input class="form-control" type="text" name="userLogin" id="userLogin" placeholder="kFerst">
            </div>
            <div class="form-group">
                <label class="form-auth" for="userPassword">Ваш пароль</label>
                <input class="form-control" type="password" name="userPassword" id="userPassword"
                       placeholder="************">
            </div>
            <div class="form-group form-group__buttons">
                <button type="submit" class="button button-primary button-fullW button-hover__dark">Войти</button>
            </div>
            <p>Нет аккаунта? <a href="/auth/register" class="link-underline">Зарегистрируйтесь тут</a></p>
        {% else %}
            <div class="form-group">
                <label class="form-auth" for="userLogin">Придумайте себе прозвище</label>
                <input class="form-control" type="text" name="userLogin" id="userLogin" placeholder="Ar1us">
            </div>
            <div class="form-group">
                <label class="form-auth" for="userEmail">Введите вашу почту</label>
                <input class="form-control" type="email" name="userEmail" id="userEmail"
                       placeholder="my-mail@mail.com">
            </div>
            <div class="form-group">
                <label class="form-auth" for="userPassword">Придумайте пароль</label>
                <input class="form-control" type="password" name="userPassword" id="userPassword"
                       placeholder="************">
            </div>
            <div class="form-group form-group__buttons">
                <button type="submit" class="button button-primary button-fullW button-hover__dark">Зарегистрироваться
                </button>
            </div>
            <p>Уже с нами? <a href="/auth/login" class="link-underline">Войдите тут</a></p>
        {% endif %}
        <div class="notice-box">
            <p>Входя, регистрируясь или продолжая находится тут, Я соглашаюсь со правилами форума kSocial, а так же с
                политикой конфиденциальности.</p>
        </div>
    </form>
</section>

<script src="/public/js/authPage.js"></script>
</body>
</html>